<html>

<head>
	<style>
		body {
			margin: 0;
			padding: 0;
			text-align: center;
			background-color: black;
		}
		
		#wrapper {
			margin: auto;
			width: 1000px;	
			margin-top: 25px;
			padding: 15px;
			text-align: left;
			background-color: white;
		}
		
		#linescore, #pitching, #batting, #game_info {
			float: left;
			clear: both;
		}
		
		#away_batters, #home_batters {
			float: left;
			width: 450px;
			margin: 0px;
			margin-top: 20px;
		}
		
		#away_pitchers, #home_pitchers {
			float: left;
			width: 450px;
			margin: 0px;
			margin-top: 20px;
		}

		#game_info {
			margin-top: 20px;
			width: 600px;
		}
		
		#linescore label {
			font-weight: bold;
			width: 90px;
			display: block;
			float: left;
		}
		
		#batting label, #pitching label {
			width: 90px;
			display: block;
			float: left;
		}
		
		#linescore, #batting, #pitching, #game_info {
			width: 900px;
		}
		
		#title {
			font-weight: bold;
		}
		
	</style>
</head>

<body>
<div id="wrapper">
<div id="title">	
	Boxscore for <%= gameday_info['year'] %>/<%= gameday_info['month'] %>/<%= gameday_info['day'] %><br/>
	<%= cities[0] %> vs. <%= cities[1] %><br/>
</div>
<br/><br/>
<div id="linescore">
      <label><%= cities[0] %></label>
	  <% (0..8).each do |num| %>
	  	<%= innings[num][0] %>
	  <% end %>
	  &nbsp;&nbsp;<b><%= tots[0][0] + '  ' + tots[0][1] + '  ' + tots[0][2] %></b>
       <br/> 
	   <label><%= cities[1] %></label>             
	  <% (0..8).each do |num| %>
	  	<%= innings[num][1] %>
	  <% end %>
      &nbsp;&nbsp;<b><%= tots[1][0] + '  ' + tots[1][1] + '  ' + tots[1][2] %></b>
</div>

<div id="batting">
	<% (['away_batters','home_batters']).each do |batters| %>
		<div id="<%= batters %>">
			<b><label>Name</label>
			AB&nbsp;&nbsp;
			H&nbsp;
			R&nbsp;&nbsp;
			RBI&nbsp;&nbsp;
			AVG&nbsp</b>
			<br/>
			<% (eval batters).each do |batter| %>
				<label><%= batter['name'] %></label>
				&nbsp;<%= batter['ab'] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%= batter['h'] %>&nbsp;&nbsp;
				<%= batter['r'] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%= batter['rbi'] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%= batter['avg'] %>&nbsp;&nbsp;
				<br/>
			<% end %>
			<br/>
			<%= eval(batters + '_text') %>
		</div>
	<% end %>
</div>

<div id="pitching">
	<% (['away_pitchers','home_pitchers']).each do |pitchers| %>
		<div id="<%= pitchers %>">
			<b><label>Name</label>
			&nbsp;IP&nbsp;&nbsp;
			ER&nbsp;
			R&nbsp;&nbsp;
			H&nbsp;&nbsp;
			HR&nbsp;
			SO&nbsp
			BB&nbsp
			ERA&nbsp
			NOTE&nbsp</b>
			<br/>
			<% (eval pitchers).each do |pitcher| %>
				<label><%= pitcher['name'] %></label>
				<%= pitcher['inn'] %>&nbsp;&nbsp;&nbsp;&nbsp;
				<%= pitcher['er'] %>&nbsp;&nbsp;&nbsp;
				<%= pitcher['r'] %>&nbsp;&nbsp;&nbsp;
				<%= pitcher['h'] %>&nbsp;&nbsp;&nbsp;&nbsp;
				<%= pitcher['hr'] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%= pitcher['so'] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%= pitcher['bb'] %>&nbsp;&nbsp;
				<%= pitcher['era'] %>&nbsp;&nbsp;
				<%= pitcher['note'] %>&nbsp;&nbsp;
				<br/>
			<% end %>
		</div>
	<% end %>
</div>

<div id="game_info">
	<%= game_info %>
</div>
<div style="clear:both;"></div>
</div>
</body>
</html>